In [3]:
import numpy as np

a=np.random.normal(25.0,5.0,10)

print(a)

[ 33.77109765  28.11634505  29.04496376  24.14315239  22.58529289
  25.31278037  26.94278547  22.07094767  31.06313511  22.41833315]

# LISTS

In [5]:
x=[23,23,21,345,657,567]
print (len(x))

6

In [ ]:
LIST

In [6]:
x[3:]

[345, 657, 567]

In [7]:
x[:3]

[23, 23, 21]

In [8]:
x[-2:]

[657, 567]

In [9]:
x[:-2]

[23, 23, 21, 345]

In [14]:
x.extend([7,8])
x

[23, 23, 21, 345, 657, 567, 7, 8, 7, 7, 8]

In [15]:
x.append(7)
x

[23, 23, 21, 345, 657, 567, 7, 8, 7, 7, 8, 7]

In [17]:
x.sort()
print(x)

[7, 7, 7, 7, 8, 8, 21, 23, 23, 345, 567, 657]

In [20]:
x.sort(reverse=True)
x

[657, 567, 345, 23, 23, 21, 8, 8, 7, 7, 7, 7]

# TUPLES

In [33]:
#tuples are immutable lists.Use () instead of [].You cannot extend,append,sort them

t=(1,4,5,56)
print (t)
print (len(t))
t[2]

(1, 4, 5, 56)
4

5

In [35]:
#list of tuples
a=(1,2,3)
b=(5,6,7)
list2=[a,b]
list2

[(1, 2, 3), (5, 6, 7)]

In [41]:
(age,income)="31,60000".split(',')
print (age)
print (income)

31
60000